Env_Home = "{{ config.homeDirectory }}"
Env_Copilot_Enabled = {{ config.copilotEnabled }} 
Env_Obsidian_Vaults = {{ config.obsidianVaults }}
Env_Wsl_Clip = "/mnt/c/Windows/System32/clip.exe"
Env_Wsl_PowerShell = "/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe"
