
Env_Home = "{{ config.homeDirectory }}"
Env_Note_Vault = "{{ config.noteVault }}"
Env_Opening_Note = "{{ config.openingNote }}"
Env_Copilot_Enabled = {{ config.copilotEnabled }} 
Env_Wsl_Clip = "/mnt/c/Windows/System32/clip.exe"
Env_Wsl_PowerShell = "/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe"
